footer {
    width: 100%;
    position: relative;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    padding-top: 20px;
}

.general {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 800px;
    text-align: center;
}

.logo {
    width: 30%;
    padding: 15px;
    cursor: pointer;
}

.social {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.network {
    width: 250px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: right;
    align-items: center;
    padding: 20px;
}

.logo-block {
    width: 200px;
}

.logo {
    width: 70%;
}

