<app-header></app-header>
<div class="bannerG">
<img (click)="navigateByUrl('nossos-planos')" src="/assets/home_banner1.jpg">
</div>
<div class="bannerM">
<img src="/assets/home_banner2.jpg">
</div>
<div class="anuncio1">
  <img src="/assets/home_anuncio1.png">
</div>
<div class="anuncioG">
  <div class="anuncioG1">
  <img src="/assets/home_anuncio3.png">
  </div>
  <div class="anuncioG2">
  <img src="/assets/home_anuncio2.png">
  <br>
  <button (click)="navigateByUrl('nossos-planos')">ASSINE AGORA</button>
  </div>
</div>
<app-footer></app-footer>
