<table>
    <table>
        <colgroup span="3" class="columns"></colgroup>
        <tr>
          <th>Tipo</th>
          <th>Data</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let incidents of filteredIncidents">
          <td>{{ incidents.type }}</td>
          <td>{{ incidents.inclusionDate | date }} </td>
          <td>{{ incidents.status }}</td>
          <td><button (click)="removeIncidentById()">Excluir</button></td>
        </tr>
        <th colspan="4" *ngIf="showMessageError" style="color: green;">Você não possui nenhuma ocorrência!</th>
      </table>
</table>